 @import '../Styles/theme.css'; 

 .icons {
  background-color: var(--Primary);
  color: var(--textPrimary);
  display: flex;
  justify-content: center;
 }
 
  .description {
  background-color: var(--Primary);
  color: var(--textPrimary);  
  padding: 2rem;
  text-align: center;
  font-size: calc(var(--scale) * 1.1);
 }

