@import '../Styles/theme.css';

.background {
     background-color: var(--Primary);
     color: var(--textPrimary);
     padding: 2rem;
     text-align: center;
     height: 20rem;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

@media (max-width: 480px) {
    .background {
        padding: 1.5rem;
    }
}
