@import '../Styles/theme.css';

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    width: 100%;
    background-color: black;
    color: var(--textPrimary);
    padding: 2rem;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .background {
        padding: 1.5rem;
    }
}
